In [1]:
-13//2

-7

In [2]:
13//-2

-7

In [3]:
-13.0//2

-7.0

In [4]:
-29//11

-3

In [5]:
-13//2

-7

In [6]:
13/2

6.5

In [7]:
17%-3

-1

In [8]:
-17%3

1

In [9]:
2**3**4

2417851639229258349412352

In [11]:
17*2//4&15<<3-1|13>>2

11

In [12]:
"vasudeva".count('v')

2

In [18]:
"richa".upper()

'RICHA'

name = capitalise(print(input("enter your name")))

In [22]:
a = (input("enter ypyr name")).upper()
print(a)

enter ypyr name richa

RICHA

In [23]:
#print digit at one place
a=int(input("enter a number"))
if (a>0):
    dig_place = a%10
else:
    a_pos = -(a)
    dig_pos = a_pos%10
print("number at digit place of the entered number",a," is:",dig_pos)

enter a number -12345

number at digit place of the entered number -12345  is: 5

In [24]:
#average and deviation of 2 numbers
no1 =int(input("enter 1st number"))
no2 =int(input("enter second number"))
avg = (no1+no2)/2
print("average of two numbers is :" + str(avg))
print("deviation of first number is: "+str(no1-avg))
print("deviation of second number is: "+str(no2-avg))

enter 1st number 25
enter second number 45

average of two numbers is :35.0
deviation of first number is: -10.0
deviation of second number is: 10.0

In [25]:
#swap two numbers
a=int(input("Enter value of a"))
b=int(input("enter value of b"))
c=a
a=b
b=c
print("a is:",a)
print("b is:,", b)

Enter value of a 34
enter value of b 56

a is: 56
b is:, 34

In [32]:
f1 =float(input("enter floating number 1"))
f2 =float(input("enter floating number 2"))
sum_1 = f1+f2
sum_int = int(sum_1)
print("Integer sum of %f and %f is: %d"%(f1,f2,sum_int))

enter floating number 1 56.87
enter floating number 2 67.665

Integer sum of 56.870000 and 67.665000 is: 124

In [35]:
#input adress and print in various lines
add = input("enter your adress in the format \"street,locality,city,zip_code\"")
add1= (add.split(','))
for parts in add1:
    print(parts)

enter your adress in the format "street,locality,city,zip_code" gautam cottage,ish nagar,hoshiarpur,146001

gautam cottage
ish nagar
hoshiarpur
146001

In [36]:
#enter two number and print x raised to power y
x=int(input("enter base of a number"))
y=int(input("enter exonent of number"))
z=x**y
print(x," raised to power ",y,"is:",z)

enter base of a number 4
enter exonent of number 5

4  raised to power  5 is: 1024

In [37]:
#salary calculation
hra=0.10
ta=0.05
base_sal=int(input("enter basic salary:"))
sal = base_sal+base_sal*(hra+ta)
print("total salary is :",sal)

enter basic salary: 56000

total salary is : 64400.0

In [38]:
#calculate momentum
m=int(input("enter mass in kg"))
c=int(input("enter velocity in metre per second"))
e=m*c*c
print("momentum is:",e)

enter mass in kg 60
enter velocity in metre per second 45

momentum is: 121500

In [64]:
##### print grocery bill
#use multi fdimesnsional lsit
items_tot=int(input("Enter total number of items purchased"))
total= 0
item=[]
for i in range(0,items_tot):
    name=input("Enter item name")
    qnt=int(input("enter quantity purchased"))
    price=int(input("enter price of item purchased"))
    total=total+(qnt*price)
    item.append([name,qnt,price])
                     
print("*"*16,"BILL","*"*16)
print("Item Name \t Item Quantity \t Item Price")
for k in item:
    print(f"{k[0]}\t\t{k[1]}\t\t{k[2]}")# f here stands for formatted string that allows ypu to add variable,list ,tuple withib curly braces
print("*"*40)
print("Total Amount to be paid is:",total)
print("*"*40)

Enter total number of items purchased 2
Enter item name pens
enter quantity purchased 3
enter price of item purchased 10
Enter item name pencil
enter quantity purchased 3
enter price of item purchased 11

**************** BILL ****************
Item Name 	 Item Quantity 	 Item Price
pens		3		10
pencil		3		11
****************************************
Total Amount to be paid is: 63
****************************************